* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFB763;
}   
article {
    background-color: white;
    border-radius: 12px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 11px 29px;
    width: 100%;
}
.three-point {
    display: flex;
    margin-left: auto;
}
.bgc-blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 19px;
    background-color: #1FA1FF;
    color: white;
    margin-bottom: 18px;
}
code {
    font-size: 31px;
}
.follow {
    padding: 18px 19px;
}
.flr {
    display: flex;
    align-items: center;
    justify-content: end;
}